{:paths ["src"]
 :deps  {
         org.clojure/clojure                {:mvn/version "1.10.1"}
         aleph/aleph                        {:mvn/version "0.4.6"}
         cheshire/cheshire                  {:mvn/version "5.10.0"}
         }

 :aliases
 {:dev     {:extra-paths ["dev"]
            }
  }}
